test/**
src/**
build.mjs
tsconfig.json
dist/*.map
dist/component.js
package-lock.json
.gitignore
*.vsix
dist/template.js
dist/literal.js
dist/entities.js
dist/completion.js
dist/check.mjs
dist/volar.js
